.cl-text-61 {
  color: #189961;
}

.fs-text-roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.icons-addres::before {
  font-size: 25pt;
}
.icons {
  color: #5ecc9c;
}
.fs-7 {
  font-size: 0.8rem !important;
}
